@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
  font-family: 'Poppins', sans-serif; 
  margin: 0;
  padding: 0;
  scroll-padding-top: 1rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
/* Vatiables */
:root {
  --main-color: #58A399;
  --text-color: #E2F4C5;
  --bg-color: #496989;
}
/* Custom Scroll Bar */
html::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    border-radius: 5rem;
    background: var(--text-color);
}
section {
    padding: 4rem 0 2rem;
}
img{
  width: 100%;
}
body{
  background-color: var(--bg-color); /* Cambia el color de fondo de la página */

    color: var(--text-color);
}
.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}
header {
    display: block;
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0;
    z-index: 100;
}
header.shadow{
   background: var(--bg-color); 
   box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
   transition: 0.5s ease;
}
header.shadow #search-icon{
    color: var(--text-color);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}#menu-icon{
  font-size: 24px;
  cursor: pointer;
  color: var(--text-color);
  display: none;
}
.logo{
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-color);
}
.logo span{
color: var(--main-color);
}
.navbar{
  display: flex;
  column-gap: 2rem;
}
.navbar a{
  color: var(--text-color);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}
.navbar a:hover,
.navbar .active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

.section {
  padding: 90px 0;
}

.section h2 {
  margin-bottom: 9px;
}

.footer{
    background: var(--text-color);
    color: #000000;
    border-top: 2px solid var(--main-color);
  }
  
  .footer-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  
  .footer-container .logo{
    color: var(--bg-color);
    margin-bottom: 1rem;
  }
  
  .footer-container .footer-box{
    display: flex;
    flex-direction: column;
  }
  
  .social{
    display: flex;
    align-items: center;
  }
  
  .social a{
    font-size: 24px;
    color: var(--bg-color);
    margin-right: 1rem;
  }
  
  .social a:hover{
    color: var(--main-color);
  }
  
  .footer-box h3{
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  
  .footer-box a,
  .footer-box p{
    color: #818181;
    margin-bottom: 10px;
  }
  
  .footer-box a:hover{
    color: var(--main-color);
  }

.faq-list {
  margin-top: 20px;
}

.faq-item {
  margin-bottom: 20px;
}

.faq-item h3 {
  margin-bottom: 10px;
}

.faq-item p {
  color: var(--text-color);
}
